@if(movie) {
    <div class="bg-gray-700 text-white text-3x1
       sm:text-4x1 md:text-3x1 1g:text-4x1 x1:text-6x1
       font-bold bg-no-repeat bg-cover bg-center
       bg-gradient-to-r from-sky-500 to-indigo-500"
       [style.backgroundImage]="'url('+ imageUrl + movie.backdrop_path +')'">

       <div class="dark-bg px-12">
          <div class="flex flex-col items-center justify-center md:flex-row md:ml-[50px] pt-[50px] pb-[50px] md:justify-start">
             <img class="'rounded-xl border-white border-4 max-w-[min(490px,60%) ] sm:max-w-[60%] md:h-[576px] z-10" src="{{imageUrl + movie.poster_path}}" alt="poster">
             <div>
                <h1 class="text-xl font-bold md:ml-10 text-center md:text-left md:ml-[50px] mb-[30px] 
                   md:mb-[50px] mt-[20px]">{{movie.original_title}}</h1>
                <p class="mb-[20px] text-center md:text-left">
                   @for (item of movie.genres; track $index) {
                   <span class=" text-xs mr-5 text-center md:text-left md:ml-[50px]">{{item.name}}</span>
                   }
                </p>
                <p class="md:ml-10 text-center md:text-left md:ml-[50px] xl:w-2/3">{{movie.overview}}</p>
             </div>
          </div>
       </div>
    </div>
    } @else {
    <div class="px-12 ext-xl font-bold  mt-20 text-white text-3x1">Loading......</div>
    }